<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-3d.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="results/data.js"></script>
</head>

<body>
<div id="container" style="display: flex">
  <div id="chart-container">
    <div id="chart"></div>
    <div id="colorbar"></div>
    <p id="colorbar-label"></p>
    <v-app id="app">
      <v-btn @click.stop="dialog = true">Configure</v-btn>
      <v-dialog v-model="dialog" max-width="500px">
          <v-card>
            <v-card-title>
              Plot Options
            </v-card-title>
            <v-card-text>
              <v-layout row>
              <v-select
                :items="axisOptions"
                label="X axis"
                v-model="xField"
              ></v-select>
              <v-checkbox :label="'Logarithmic'" v-model='xAxisLogarithmic'></v-checkbox>
              </v-layout>

              <v-layout row>
              <v-select
                :items="axisOptions"
                label="Y axis"
                v-model="yField"
              ></v-select>
              <v-checkbox :label="'Logarithmic'" v-model='yAxisLogarithmic'></v-checkbox>
              </v-layout>

              <v-layout row>
              <v-select
                :items="axisOptions"
                label="Z axis"
                v-model="zField"
              ></v-select>
              <v-checkbox :label="'Logarithmic'" v-model='zAxisLogarithmic'></v-checkbox>
              </v-layout>

              <v-layout row>
              <v-select
                :items="axisOptions"
                label="Color"
                v-model="colorField"
              ></v-select>
              <!-- TODO: set min and max color values in small text fields here (if nothing set, use min and max of the data) -->
              <!-- ooh, once they select a color field, have the min and max text fields populate with the min and max values of the data? if that's easy -->
              </v-layout>
            </v-card-text>
            <v-card-actions>
              <v-btn color="primary" flat @click.stop="closedDialog()">Close</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
    </v-app>
  </div>
  <div id="tooltip">
    <img id="img1">
    <img id="img2">
    <img id="img3">
    </div>
  </div>
</div>

<style>
  #chart-container {
    height: 100%;
    flex-grow: 1;
    margin: 0 auto;
  }
  #tooltip {
    height: 100%;
    width: 50%;
  }
  #colorbar {
    display: flex;
    flex-direction: row;
    margin: 25px 25px 0px 25px;
  }
  .colorbar-cell {
    flex: 1 1 0px;
  }
  img {
    width: 65%;
    margin: 0 0
  }
  /* see https://css-tricks.com/snippets/css/css-triangle/ */
  #colorbar-marker {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
  }
  #colorbar-label {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
  }
</style>

<script>
  // >>>>>
  let axisLabelSize = 15

  let title = ''
  let subtitle = 'Click and drag to rotate; hover to show images.'

  let chartMargin = 75

  // see http://bl.ocks.org/curran/3094b37e63b918bab0a06787e161607b for examples
  // not all of those are supported, though
  let colorMap = 'Cool'

  // use scientific notation in the tooltip for (absolute) values smaller than this (except 0)
  let scientificNotationThresh = 1e-3
  // <<<<<

  // coloring thingsvue
  let nColorbarCells = 150

  let addColorbar = function(config) {
    let colorbar = $('#colorbar')
    colorbar.empty() // remove existing color bar

    for (let i = -1; i <= nColorbarCells; i++) {
      let cell = document.createElement('div')
      cell.className = 'colorbar-cell'
      if (i == -1) {
        cell.innerText = config.colorMin
      } else if (i == nColorbarCells) {
        cell.innerText = config.colorMax
      } else {
        cell.style.backgroundColor = config.colorMapper(config.colorMin + i * (config.colorMax - config.colorMin) / nColorbarCells)
      }
      colorbar.append(cell)
    }
    $('#colorbar-label')[0].innerText = config.colorField
  }

  // marker for current position in the color bar
  let addMarker = function(colorbarCellNum) {
    colorbarCellNum = Math.min(colorbarCellNum + 1, nColorbarCells - 1)
    let rect = $('#colorbar')[0].children[colorbarCellNum].getBoundingClientRect()
    $('body').append(
      $('<div id="colorbar-marker"></div>').css({
        position: 'absolute',
        top: rect.y - 10,
        left: rect.x - 8,
      })
    )
  }

  let removeMarker = function() {
    $('#colorbar-marker').remove()
  }

  // data is loaded from data.js
  let addXYZCToData = function(config, data) {
    for (let datum of data) {
      datum.x = datum[config.xField]
      datum.y = datum[config.yField]
      datum.z = datum[config.zField]
      datum.color = config.colorMapper(Math.max(config.colorMin, Math.min(config.colorMax, datum[config.colorField])))
    }
  }

  /**
   * List the x, y, and z fields first, the `colorField` last and bolded, and all others
   * in arbitrary order in between.
   **/
  let getTooltip = function(config, point) {
    let datum = data[point.index]
    let tooltip = `
      ${config.xField} = ${scientific(point.x)} <br>
      ${config.yField} = ${scientific(point.y)} <br>
      ${config.zField} = ${scientific(point.z)} <br>`

    // these won't be added to the tooltip in the for loop below
    let specialFields = [
      config.xField, config.yField, config.zField, config.colorField,
      'x', 'y', 'z', 'color',
      'old_drag_factors', 'index', 'sim_number',
      'vary_nu_trial_numbers',
      'vecFilepath', 'finaltimeFilepath', 'potentialFilepath'
    ]

    for (let field in datum) {
      if (!specialFields.includes(field)) {
        tooltip += `${field} = ${scientific(datum[field])} <br>`
      }
    }

    tooltip += `<b>${config.colorField} = ${scientific(datum[config.colorField])}</b>`
    return tooltip
  }

  let scientific = function(n) {
    if (n == 0) {
      return n
    } else {
      return Math.abs(n) <= scientificNotationThresh ? n.toExponential() : n
    }
  }

  function chartRenderer(config) {
    addXYZCToData(config, data)

    // Give the points a 3D feel by adding a radial gradient
    Highcharts.setOptions({
      colors: $.map(Highcharts.getOptions().colors, function (color) {
        return {
          radialGradient: {
            cx: 0.4,
            cy: 0.3,
            r: 0.5
          },
          stops: [
            [0, color],
            [1, Highcharts.Color(color).brighten(-0.2).get('rgb')]
          ]
        }
      })
    })

    let chart = new Highcharts.Chart({
      chart: {
        renderTo: 'chart',
        margin: chartMargin,
        type: 'scatter3d',
        animation: false,
        options3d: {
          enabled: true,
          alpha: 10,
          beta: 30,
          depth: 250,
          viewDistance: 5,
          fitToPlot: false,
          frame: {
            bottom: { size: 1, color: 'rgba(0,0,0,0.02)' },
            back: { size: 1, color: 'rgba(0,0,0,0.04)' },
            side: { size: 1, color: 'rgba(0,0,0,0.06)' }
          }
        }
      },
      title: {
        text: title
      },
      subtitle: {
        text: subtitle
      },
      plotOptions: {
        series: {
          point: {
            events: {
              mouseOver: function() {
                let img1 = document.getElementById('img1')
                let img2 = document.getElementById('img2')
                let img3 = document.getElementById('img3')

                let index = this.index.toString().padStart(6, '0')

                img1.src = data[this.index].finaltimeFilepath
                img2.src = data[this.index].vecFilepath
                img3.src = data[this.index].potentialFilepath

                // update colorbar position
                removeMarker()
                // TODO: add marker back...
                // addMarker(Math.floor((data[this.index][config.colorField] - config.colorMin) * nColorbarCells / (config.colorMax - config.colorMin)))
              }
            }
          }
        }
      },
      xAxis: {
        gridLineWidth: 1,
        type: config.xAxisLogarithmic ? 'logarithmic' : 'linear',
        title: {
          text: config.xField,
          style: {
            fontSize: `${axisLabelSize}pt`
          }
        }
      },
      yAxis: {
        type: config.yAxisLogarithmic ? 'logarithmic' : 'linear',
        title: {
          text: config.yField,
          style: {
            fontSize: `${axisLabelSize}pt`
          }
        }
      },
      zAxis: {
        showFirstLabel: false,
        type: config.zAxisLogarithmic ? 'logarithmic' : 'linear',
        title: {
          text: config.zField,
          style: {
            fontSize: `${axisLabelSize}pt`
          }
        }
      },
      legend: {
        enabled: false
      },
      series: [{
        name: 'Parameters',
        colorByPoint: false,
        data: data
      }],
      tooltip: {
        useHTML: true,
        formatter: function() {
          return getTooltip(config, this.point)
        }
      }
    })

    // Add mouse and touch events for rotation
    ;(function (H) {
      function dragStart(eStart) {
        eStart = chart.pointer.normalize(eStart)

        var posX = eStart.chartX,
          posY = eStart.chartY,
          alpha = chart.options.chart.options3d.alpha,
          beta = chart.options.chart.options3d.beta,
          sensitivity = 5 // lower is more sensitive

        function drag(e) {
          // Get e.chartX and e.chartY
          e = chart.pointer.normalize(e)

          chart.update({
            chart: {
              options3d: {
                alpha: alpha + (e.chartY - posY) / sensitivity,
                beta: beta + (posX - e.chartX) / sensitivity
              }
            }
          }, undefined, undefined, false)
        }

        chart.unbindDragMouse = H.addEvent(document, 'mousemove', drag)
        chart.unbindDragTouch = H.addEvent(document, 'touchmove', drag)

        H.addEvent(document, 'mouseup', chart.unbindDragMouse)
        H.addEvent(document, 'touchend', chart.unbindDragTouch)
      }

      H.addEvent(chart.container, 'mousedown', dragStart)
      H.addEvent(chart.container, 'touchstart', dragStart)
    }(Highcharts))
  }

  let vue = new Vue({
    el: "#app",
    data: {
      dialog: false,
      axisOptions: Object.keys(data[0]).filter(x => !(['x', 'y', 'z', 'color', 'vecFilepath', 'finaltimeFilepath'].includes(x))),
      xField: Object.keys(data[0])[0],
      yField: Object.keys(data[0])[1],
      zField: Object.keys(data[0])[2],
      colorField: 'msd',
      xAxisLogarithmic: false,
      yAxisLogarithmic: false,
      zAxisLogarithmic: false,
      colorMapper: null,
      colorMin: null,
      colorMax: null
    },
    methods: {
      closedDialog: function() {
        this.dialog = false

        // I've no idea why, but getting the min only works if we first save `colorField` to a variable
        // instead of accessing it directly as `this.colorField`
        colorField = this.colorField
        this.colorMin = data.reduce(function (prev, next) {return prev[colorField] < next[colorField] ? prev : next})[colorField]
        this.colorMax = data.reduce(function (prev, next) {return prev[colorField] > next[colorField] ? prev : next})[colorField]
        this.colorMapper = d3.scaleSequential(d3[`interpolate${colorMap}`]).domain([this.colorMin, this.colorMax])

        removeMarker()
        chartRenderer(this)
        addColorbar(this)
      }
    }
  });

  // set up an initial chart with the starting values
  vue.colorMin = data.reduce(function (prev, next) {return prev[vue.colorField] < next[vue.colorField] ? prev : next})[vue.colorField]
  vue.colorMax = data.reduce(function (prev, next) {return prev[vue.colorField] > next[vue.colorField] ? prev : next})[vue.colorField]
  vue.colorMapper = d3.scaleSequential(d3[`interpolate${colorMap}`]).domain([vue.colorMin, vue.colorMax])
  chartRenderer(vue)
  addColorbar(vue)
</script>
</body>
</html>
